<!DOCTYPE html>
<html>
<head>
  <title>Priceboard</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :all %>
  <%= csrf_meta_tag %>
</head>
<body>
	
	<script>
		$(document).ready(function(){

			

		});
  </script>

<%= yield %>

</body>
</html>
